body {
    background-color: rgb(22, 25, 37);
   color: #fff;
   text-align: center;
   border-color: #fff;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   max-width:fit-content
}
p{
    text-align: center;
}

h1{
    color: #fff;
   text-align: center;
}

.flex-container-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-space{
    display: flex;
   justify-content:space-around;
   align-items: center;
}

.flex-item{
    background-color: (142,168,195);
   max-width: 10%;
   margin: 1em;
   padding: 1em;
   font-size: 2em;
   color: rgb(62, 163, 16);
}
article{
    text-align: center;
    margin:5em
}